.App {
  text-align: center;
}
.form{
  /* border-style: solid; */
  /* border: 3px inset rgb(224, 39, 39); */
  box-shadow: 40px 40px 40px 100px rgba(110, 136, 243, 0.321);

}
/* #btn i {
  color: white;
  font-size: x-large;
  position: relative;
  right: 80%;

}


#css1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 320px;
  margin-top: 0px;
  padding: 50px;
  padding-top: 10px;
  border-style: solid;
  border: 3px inset black;
  box-shadow: 5px 5px 10px 0px rgb(161, 151, 140);
}

#css3 {
  border-style: solid;
  padding: 10px;
  width: 20%;
  margin-top: 5px;
  height: 270px;
  border: 3px inset black;
  box-shadow: 5px 5px 20px 0px rgb(161, 151, 140);
}

#in {
  padding-top: 5%;
  padding-left: 30%;
  display: block;
  justify-content: space-around;
  width: 75%;
  height: 270px;
  border-style: solid;
  margin-top: 15px;
  border: 3px inset black;
  box-shadow: 5px 5px 10px 0px rgb(161, 151, 140);
}
#form1 {
  margin-top: 100px;
  margin-left: 5%;
  border-style: solid;
  padding-top: 30px;
  padding-left: 40px;
  width: 90%;

  height: 200px;
  /* border:3px inset black;
  box-shadow: 5px 5px 20px 0px rgb(161, 151, 140); */
*/

#Contactinfo {

  margin-top: 10px;
  margin-left: 5%;
  padding-top: 10px;
  border-style: solid;
  height: 230px;
  padding-left: 40px;
  width: 90%;
}


input[type="checkbox"] {
  color: rgb(213, 47, 47);

}

input[type="date"] {

  width: 178px;

}

input[type="radio"] {
  margin-left: 20%;

}

#rigisterfeild {
  width: 30%;
  margin-left: 20%;
}

#number {
  width: 30%;
  margin-left: 15%;
}

#Email {
  width: 30%;
  margin-left: 235px;
}
#btn-danger{
  border: transparent;
  background-color: transparent;
  color: red;
}
#fem {
  margin: 10px;
}
#loginform{
  
 background-image: url(../components/images/logininfo.webp);
 background-size: cover;
 height:auto;
 backdrop-filter: blur(10px);
 background-color: rgba(255,255,255,0.1);
}
.login{
  background-color: #5179f0;
}

#Adress {
  width: 30%;
  margin-left: 216px;
}
#poliselect{
  
    border-color: #333;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5); 

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.fixed-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
/* Spotify music card made by: csozi | Website: www.csozi.hu*/

.card {
  position: relative;
  width: 250px;
  height: 120px;
  background: #191414;
  border-radius: 10px;
  padding: 10px;
}

.top {
  position: relative;
  width: 100%;
  display: flex;
  gap: 10px;
}

.pfp {
  position: relative;
  top: 5px;
  left: 5px;
  height: 40px;
  width: 40px;
  background-color: #d2d2d2;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-1 {
  color: white;
  font-size: 25px;
  font-weight: bolder;
}

.title-2 {
  color: white;
  font-size: 12px;
  font-weight: bold;
}

.time {
  width: 90%;
  background-color: #5e5e5e;
  height: 6px;
  border-radius: 3px;
  position: absolute;
  left: 5%;
  bottom: 22px;
}

.elapsed {
  width: 42%;
  background-color: #1db954;
  height: 100%;
  border-radius: 3px;
}

.controls {
  color: white;
  display: flex;
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
  justify-content: center;
}

.volume {
  height: 100%;
  width: 48px;
}

.air {
  height: 100%;
  width: 48px;
}

.controls svg {
  cursor: pointer;
  transition: 0.1s;
}

.controls svg:hover {
  color: #1db954;
}

.volume {
  opacity: 0;
  position: relative;
  transition: 0.2s;
}

.volume .slider {
  height: 4px;
  background-color: #5e5e5e;
  width: 80%;
  border-radius: 2px;
  margin-top: 8px;
  margin-left: 10%;
}

.volume .slider .green {
  background-color: #1db954;
  height: 100%;
  width: 80%;
  border-radius: 3px;
}

.volume .circle {
  background-color: rgb(42, 29, 29);
  height: 6px;
  width: 6px;
  border-radius: 3px;
  position: absolute;
  right: 20%;
  top: 60%;
}

.volume_button:hover ~ .volume {
  opacity: 1;
}

.timetext {
  color: white;
  font-size: 8px;
  position: absolute;
}

.time_now {
  bottom: 11px;
  left: 10px;
}

.time_full {
  bottom: 11px;
  right: 10px;
}

.playing {
  display: flex;
  position: relative;
  justify-content: center;
  gap: 1px;
  width: 30px;
  height: 20px;
}

.greenline {
  background-color: #1db954;
  height: 20px;
  width: 2px;
  position: relative;
  transform-origin: bottom;
}

.line-1 {
  animation: infinite playing 1s ease-in-out;
  animation-delay: 0.2s;
}

.line-2 {
  animation: infinite playing 1s ease-in-out;
  animation-delay: 0.5s;
}

.line-3 {
  animation: infinite playing 1s ease-in-out;
  animation-delay: 0.6s;
}

.line-4 {
  animation: infinite playing 1s ease-in-out;
  animation-delay: 0s;
}

.line-5 {
  animation: infinite playing 1s ease-in-out;
  animation-delay: 0.4s;
}

@keyframes playing {
  0% {
    transform: scaleY(0.1);
  }

  33% {
    transform: scaleY(0.6);
  }

  66% {
    transform: scaleY(0.9);
  }

  100% {
    transform: scaleY(0.1);
  }
}